<div id="header-admin" class="header-admin">
    <div class="row">
        <div class="col-sm-12">
            <div class="logo">
                <img src="assets/images/logo-developertown-small-white.png" class="img-responsive" />
            </div>
        </div>

        <div class="col-sm-12 text-center">
            <nav class="nav-main">
                <ul>
                    <li ng-class="{'selected': isState('admin.employees')}"><a ui-sref="admin.employees">Employees</a></li>
                    <li ng-class="{'selected': isState('admin.users')}"><a ui-sref="admin.users">Users</a></li>
                    <li><a ng-click="logout()">Logout</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>