<section id="side-panel" class="side-panel search-planel">

    <h1>Employees</h1>

    <div class="search-container">
        <input type="search" class="search form-control" placeholder="Search for employees..." ng-model="employeeSearch">
        <a class="clear-button" ng-click="clearSearch()"><i class="fa fa-times-circle search-clear"></i></a>
    </div>

    <ul class="list">
        <li class="clearfix" ng-repeat="employee in employees | searchName:employeeSearch">
            <a href="#/admin/employee/{{ employee.id }}" ng-click="bounceHouse(employee.House.id)">
                <img class="photo img-responsive" ng-src="{{ employee.photo }}" />
                <span>{{ employee.firstName }} {{ employee.lastName }}</span>
            </a>
        </li>
        <div class="none" ng-if="employees.$resolved && (employees | searchName:employeeSearch).length == 0">
            No employees match your search
        </div>
    </ul>

</section>