<section id="side-panel" class="side-panel admin-panel employee-panel">

    <h1>Edit Employee</h1>

    <form>
        <div class="form-group photo-upload-group clearfix">
            <img class="employee-photo img-responsive" ng-src="{{ employee.photo }}" ng-if="employee.photo" />
            <input type="file" class="employee-photo-upload" file-model="employeePhoto" />
        </div>

        <div class="form-group">
            <label>First Name</label>
            <input type="text" class="form-control" ng-model="employee.firstName" />
        </div>

        <div class="form-group">
            <label>Last Name</label>
            <input type="text" class="form-control" ng-model="employee.lastName" />
        </div>

        <div class="form-group">
            <label>Position</label>
            <input type="text" class="form-control" ng-model="employee.position" />
        </div>

        <div class="form-group">
            <label>Phone</label>
            <input type="text" class="form-control" ng-model="employee.phone" />
        </div>

        <div class="form-group">
            <label>Hours</label>
            <input type="text" class="form-control" ng-model="employee.hours" />
        </div>

        <div class="form-group">
            <label>House Number</label>
            <input type="text" class="form-control" ng-model="employee.House.number" />
        </div>

        <button class="btn btn-primary" ng-click="saveEmployee()">
            <span ng-if="saveState.state == SAVE_STATE.saved && saveState.date == null">Saved</span>
            <span ng-if="saveState.state == SAVE_STATE.saved && saveState.date != null">Saved on {{ saveState.date | date:"MMM d 'at' h:mm:ss a"}}</span>
            <span ng-if="saveState.state == SAVE_STATE.saving">Saving...</span>
            <span ng-if="saveState.state == SAVE_STATE.unsaved">Save Changes</span>
            <span ng-if="saveState.state == SAVE_STATE.error">Error Saving. Please try again.</span>
        </button>
    </form>

</section>