<div class="container" ng-controller="AdminMainController">
    <div class="row">

        <div id="canvas-column" class="col-sm-8">
            <div id="canvas-container" ng-controller="AdminCanvasController">

                <div class="canvas-buttons">
                    <button class="btn btn-primary btn-save" ng-click="saveHouses()">
                        <span ng-if="saveState.state == SAVE_STATE.saved && saveState.date == null">Saved</span>
                        <span ng-if="saveState.state == SAVE_STATE.saved && saveState.date != null">Saved on {{ saveState.date | date:"MMM d 'at' h:mm:ss a"}}</span>
                        <span ng-if="saveState.state == SAVE_STATE.saving">Saving...</span>
                        <span ng-if="saveState.state == SAVE_STATE.unsaved">Save Changes</span>
                        <span ng-if="saveState.state == SAVE_STATE.error">Error Saving. Please try again.</span>
                    </button>

                    <button class="btn btn-primary btn-accept" ng-click="addHouse()">Add House</button>

                    <button class="btn btn-primary btn-danger" ng-really-message="Are you sure you want to remove this house and employee?" ng-really-click="removeHouse(activeHouse)" ng-if="activeHouse">Remove House</button>
                </div>

                <canvas id="admin-canvas"></canvas>

            </div>
        </div>

        <div id="side-panel-column" class="col-sm-4">
            <div ng-include="'views/Admin/_header.html'"></div>

            <div id="side-panel-container" class="side-panel-container">
                <div ui-view></div>
                <mc-messages></mc-messages>
                <div id="loading-main" class="loading-animation" ng-show="loading"></div>
            </div>
        </div>

    </div>
</div>

<img src="assets/images/house.png" id="house-image" class="hidden" />
<img src="assets/images/youarehere.png" id="you-are-here-indicator" class="hidden" />
