<section id="side-panel" class="side-panel admin-panel user-panel">

    <h1>Edit User</h1>

    <form>
        <div class="form-group">
            <label>Username</label>
            <input type="text" class="form-control" ng-model="user.username" />
        </div>

        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" ng-model="user.changePassword" />
        </div>

        <div class="form-group">
            <label>Confirm Password</label>
            <input type="password" class="form-control" ng-model="user.confirmPassword" />
        </div>

        <button class="btn btn-primary" ng-click="saveUser(user)">
            <span ng-if="saveState.state == SAVE_STATE.saved && saveState.date == null">Saved</span>
            <span ng-if="saveState.state == SAVE_STATE.saved && saveState.date != null">Saved on {{ saveState.date | date:"MMM d 'at' h:mm:ss a"}}</span>
            <span ng-if="saveState.state == SAVE_STATE.saving">Saving...</span>
            <span ng-if="saveState.state == SAVE_STATE.unsaved">Save Changes</span>
            <span ng-if="saveState.state == SAVE_STATE.error">Error Saving. Please try again.</span>
        </button>
    </form>

</section>