<section id="side-panel" class="side-panel search-planel">

    <h1 class="clearfix">
        <span>Users</span>
        <a class="btn btn-success pull-right" ng-click="">Add User</a>
    </h1>

    <div class="search-container">
        <input type="search" class="search form-control" placeholder="Search for users..." ng-model="userSearch">
        <a class="clear-button" ng-click="clearSearch()"><i class="fa fa-times-circle search-clear"></i></a>
    </div>

    <ul class="list">
        <li class="clearfix" ng-repeat="user in users | searchUsername:userSearch">
            <a href="#/admin/user/{{ user.id }}">
                <span>{{ user.username }}</span>
            </a>
        </li>
        <div class="none" ng-if="users.$resolved && (users | searchUsername:userSearch).length == 0">
            No users match your search
        </div>
    </ul>

</section>