.loading-animation, .loading-animation-small {
  background-color: transparent;
  border: 5px solid #1f78b3;
  opacity: .9;
  border-top: 5px solid transparent;
  border-left: 5px solid transparent;
  border-radius: 50px;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  -moz-animation: spin .5s infinite linear;
  -webkit-animation: spin .5s infinite linear; }

.loading-animation-small {
  width: 20px;
  height: 20px; }

@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg); }

  100% {
    -moz-transform: rotate(360deg); } }

@-moz-keyframes spinoff {
  0% {
    -moz-transform: rotate(0deg); }

  100% {
    -moz-transform: rotate(-360deg); } }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); }

  100% {
    -webkit-transform: rotate(360deg); } }

@-webkit-keyframes spinoff {
  0% {
    -webkit-transform: rotate(0deg); }

  100% {
    -webkit-transform: rotate(-360deg); } }

.btn-primary, .btn-accept, .btn-danger, .btn-primary:visited, .btn-accept:visited, .btn-danger:visited, .btn-primary:focus, .btn-accept:focus, .btn-danger:focus {
  background: #1f78b3;
  border: 1px solid transparent !important;
  color: #fff;
  border: none; }
.btn-primary:hover, .btn-accept:hover, .btn-danger:hover, .btn-primary:active, .btn-accept:active, .btn-danger:active {
  color: #fff;
  background: #19639d; }
.btn-primary:focus, .btn-accept:focus, .btn-danger:focus {
  outline: none !important;
  box-shadow: inset 0 0 0 1px #fff !important;
  border-color: #1f78b3 !important; }
.btn-primary.btn-bordered, .btn-bordered.btn-accept, .btn-bordered.btn-danger {
  background: transparent;
  border: 2px solid #1f78b3 !important;
  color: #1f78b3; }
  .btn-primary.btn-bordered:hover, .btn-bordered.btn-accept:hover, .btn-bordered.btn-danger:hover, .btn-primary.btn-bordered:active, .btn-bordered.btn-accept:active, .btn-bordered.btn-danger:active {
    background: rgba(31, 120, 179, 0.15); }
.btn-primary[disabled], [disabled].btn-accept, [disabled].btn-danger {
  background: #444 !important; }

.btn-large {
  font-size: 1.15em;
  padding: 10px 20px; }

.btn-accept {
  background: #7fb939; }
  .btn-accept:hover, .btn-accept:active {
    background: #639e24; }
  .btn-accept:focus {
    border-color: #7fb939 !important; }

.btn-danger {
  background: #d5452e; }
  .btn-danger:hover, .btn-danger:active {
    background: #c13629; }
  .btn-danger:focus {
    border-color: #d5452e !important; }

input {
  border-radius: 6px;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  -moz-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  -ms-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  -o-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out; }
  input.form-control {
    font-size: 1.2em;
    padding: 20px 12px; }
    input.form-control, input.form-control:visited, input.form-control:focus {
      outline: none !important;
      border: 1px solid #bbb !important;
      box-shadow: none !important; }
    input.form-control:focus {
      border-color: #1f78b3 !important; }

.admin-panel input.form-control {
  padding: 14px 8px;
  font-size: 1em; }

.header-main {
  background: #1f78b3;
  padding: 15px; }
  .header-main .row {
    display: table; }
  .header-main [class*="col-"] {
    float: none;
    display: table-cell;
    vertical-align: middle; }

.header-admin {
  background: #1f78b3;
  padding: 15px; }
  .header-admin .logo {
    text-align: center;
    margin-bottom: 10px; }
    .header-admin .logo img {
      max-height: 50px;
      display: inline-block; }

.nav-main {
  margin-top: 10px; }
  .nav-main ul {
    padding: 0;
    margin: 0;
    list-style-type: none; }
    .nav-main ul li {
      margin-left: 8px; }
      .nav-main ul li:first-child {
        margin-left: 0; }
    .nav-main ul li, .nav-main ul a {
      display: inline-block; }
    .nav-main ul a, .nav-main ul a:visited, .nav-main ul a:focus {
      padding: 10px 12px;
      border: 1px solid #fff;
      color: #fff;
      text-decoration: none !important;
      outline: none !important;
      -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      -moz-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      -ms-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      -o-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
      transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; }
    .nav-main ul li.selected a, .nav-main ul a:hover, .nav-main ul a:active, .nav-main ul a:focus {
      background: rgba(255, 255, 255, 0.2);
      text-decoration: none; }
    .nav-main ul li.selected a, .nav-main ul a:focus {
      box-shadow: inset 0 0 0 2px #fff; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  background: #eaeaea;
  color: #444;
  font-size: 16px;
  overflow: hidden; }

a, a:visited {
  color: #1f78b3;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  -moz-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  -ms-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  -o-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out; }

a:hover, a:active {
  color: #19639d;
  text-decoration: none; }

h1 {
  padding: 0 0 5px 0;
  margin-top: 0;
  font-size: 1.8em; }

.container {
  width: 100%;
  display: block;
  padding: 0 !important;
  margin: 0 !important; }

#canvas-column, #side-panel-column {
  padding: 0 !important; }

#side-panel-container {
  height: 100%;
  padding: 15px;
  position: relative;
  overflow-y: auto; }

#loading-main {
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 9999; }

.none {
  padding: 15px 0;
  text-align: center;
  font-style: italic;
  color: #444; }

.alert {
  border: none;
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 1000; }
  .alert span {
    margin-right: 10px; }
  .alert.ng-enter, .alert.ng-leave {
    -webkit-transition: 0.1s linear all;
    /* Safari/Chrome */
    transition: 0.1s linear all;
    /* All other modern browsers and IE10+ */ }
  .alert.ng-enter {
    /* The animation preparation code */
    opacity: 0; }
  .alert.ng-enter.ng-enter-active {
    /* The animation code itself */
    opacity: 1; }
  .alert.ng-leave {
    /* The animation preparation code */
    opacity: 1; }
  .alert.ng-leave.ng-leave-active {
    /* The animation code itself */
    opacity: 0; }

.alert-info {
  background: #5f9ae3;
  color: #fff; }

.alert-success {
  background: #7fb939;
  color: #fff; }

.alert-warning {
  background: #efcb38;
  color: #fff; }

.alert-danger {
  background: #d5452e;
  color: #fff; }

.section-login .logo {
  padding: 40px 0; }
.section-login .login-form {
  margin-top: 20px; }

#canvas-column {
  border-right: 1px solid #bbb;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0;
  margin-left: 15px; }
  #canvas-column #canvas-container, #canvas-column canvas {
    width: 100% !important;
    height: 100vh !important;
    padding: 0;
    margin: 0;
    position: relative; }
  #canvas-column .canvas-container {
    padding: 0;
    margin: 0; }
  #canvas-column .canvas-buttons {
    width: 100%;
    padding: 10px;
    position: absolute;
    z-index: 10;
    bottom: 0;
    left: 0; }
  #canvas-column, #canvas-column * {
    outline: 0 !important;
    box-shadow: none !important;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box; }

.search {
  margin: 20px 0; }

ul.list {
  font-size: 1.2em;
  list-style-type: none;
  padding: 0; }
  ul.list li {
    border-bottom: 1px solid #bbb; }
    ul.list li a {
      line-height: 45px;
      padding: 8px 5px;
      display: block; }
      ul.list li a:last-child {
        border-bottom: none; }
      ul.list li a:hover, ul.list li a:active {
        background: #ddd; }
  ul.list .photo {
    max-height: 45px;
    margin-right: 10px;
    border-radius: 1000px;
    border: 2px solid #fff;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
    float: left; }

.search-container {
  position: relative; }
  .search-container .clear-button {
    font-size: 1.5em;
    padding: 2px;
    margin: 0;
    position: absolute;
    right: 10px;
    top: 1px;
    cursor: pointer; }
    .search-container .clear-button, .search-container .clear-button:visited {
      color: #444; }
    .search-container .clear-button:hover, .search-container .clear-button:active {
      color: #1f78b3; }

.employee-panel .employee-name {
  font-size: 2.3em;
  padding: 0;
  margin: 0 0 10px 0; }
.employee-panel .employee-position {
  color: #1f78b3;
  font-size: 1.4em;
  padding: 0;
  margin: 0 0 20px 0; }
.employee-panel .employee-photo {
  max-width: 190px;
  margin: 0 0 15px 25px;
  border-radius: 1000px;
  border: 6px solid #fff;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
  float: right; }
.employee-panel ul.employee-info {
  padding: 0;
  margin: 0;
  list-style-type: none; }
  .employee-panel ul.employee-info li {
    margin-bottom: 15px;
    display: block; }
    .employee-panel ul.employee-info li span {
      font-size: 1.2em;
      font-weight: bold;
      display: block; }
.employee-panel .employee-buttons {
  text-align: center;
  padding-top: 25px;
  clear: both; }
  .employee-panel .employee-buttons a {
    margin: 0 auto 15px auto;
    display: block; }

.admin-panel .photo-upload-group {
  text-align: left;
  margin-bottom: 10px;
  position: relative; }
.admin-panel .employee-photo {
  max-width: 120px;
  margin: 0 10px 0 0;
  display: inline-block;
  float: left; }
.admin-panel .employee-photo-upload {
  max-width: 60%;
  margin-top: 30px;
  position: absolute;
  bottom: 6px;
  right: 0px; }
