<div class="section-login">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4">
                <div class="logo">
                    <img src="assets/images/logo-shack-tracker-large.png" class="img-responsive" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4 col-sm-offset-4">
                <mc-messages></mc-messages>

                <form class="login-form" name="loginForm" ng-submit="login(credentials)">
                    <div class="from-group">
                        <label for="username">Username:</label>
                        <input type="text" id="username" class="form-control" ng-model="credentials.username" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input type="password" id="password" class="form-control" ng-model="credentials.password" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>
                </form>
            </div>
        </div>
    </div>
</div>