.btn-primary {
  &, &:visited, &:focus {
    background: $color-main;
    border: 1px solid transparent !important;
    color: $color-white;
    border: none;
  }

  &:hover, &:active {
    color: $color-white;
    background: $color-main-tweak;
  }

  &:focus {
    outline: none !important;
    box-shadow: inset 0 0 0 1px $color-white !important;
    border-color: $color-main !important;
  }

  &.btn-bordered {
    background: transparent;
    border: 2px solid $color-main !important;
    color: $color-main;

    &:hover, &:active {
      background: $color-main-transparent;
    }
  }

  &[disabled] {
    background: $color-grey !important;
  }
}

.btn-large {
  font-size: 1.15em;
  padding: 10px 20px;
}

.btn-accept {
  @extend .btn-primary;

  background: $color-success;

  &:hover, &:active {
    background: $color-success-tweak;
  }

  &:focus {
    border-color: $color-success !important;
  }
}

.btn-danger {
  @extend .btn-primary;

  background: $color-danger;

  &:hover, &:active {
    background: $color-danger-tweak;
  }

  &:focus {
    border-color: $color-danger !important;
  }
}