#canvas-column {
  border-right: 1px solid $color-grey-light;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0;
  margin-left: 15px; // Dont know why this is needed...
//  margin: 0;

  #canvas-container,
  canvas {
    width: 100% !important;
    height: 100vh !important;
    padding: 0;
    margin: 0;
    position: relative;
  }

  .canvas-container {
    padding: 0;
    margin: 0;
  }

  .canvas-buttons {
    width: 100%;
    padding: 10px;
    position: absolute;
    z-index: 10;
    bottom: 0;
    left: 0;
  }

  &, & * {
    outline: 0 !important;
    box-shadow: none !important;

    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
  }
}



//#canvas-column {
//  box-sizing: content-box;
//  border-right: 4px solid $color-grey;
//  padding: 0;
//  margin: 0;
//}
//
//.canvas-container {
//  background: #fff;
//  width: 100% !important;
//  height: 100vh !important;
//}
//
//#canvas-container {
//  position: relative;
//
//  .btn-save {
//    position: absolute;
//    z-index: 10;
//    bottom: 10px;
//    left: 10px;
//  }
//}