.employee-panel {
  .employee-name {
    font-size: 2.3em;
    padding: 0;
    margin: 0 0 10px 0;
  }

  .employee-position {
    color: $color-main;
    font-size: 1.4em;
    padding: 0;
    margin: 0 0 20px 0;
  }

  .employee-photo {
    max-width: 190px;
    margin: 0 0 15px 25px;
    border-radius: 1000px;
    border: 6px solid $color-white;
    box-shadow: 0 0 0 1px $color-black-transparent;
    float: right;
  }

  ul.employee-info {
    padding: 0;
    margin: 0;
    list-style-type: none;

    li {
      margin-bottom: 15px;
      display: block;

      span {
        font-size: 1.2em;
        font-weight: bold;
        display: block;
      }
    }
  }

  .employee-buttons {
    text-align: center;
    padding-top: 25px;
    clear: both;

    a {
      margin: 0 auto 15px auto;
      display: block;
    }
  }
}

.admin-panel {
  .photo-upload-group {
    text-align: left;
    margin-bottom: 10px;
    position: relative;
  }

  .employee-photo {
    max-width: 120px;
    margin: 0 10px 0 0;
    display: inline-block;
    float: left;
  }

  .employee-photo-upload {
    max-width: 60%;
    margin-top: 30px;
    position: absolute;
    bottom: 6px;
    right: 0px;
  }
}