.header-main {
  background: $color-main;
  padding: 15px;

  .row {
    display: table;
  }

  [class*="col-"] {
    float: none;
    display: table-cell;
    vertical-align: middle;
  }
}

.header-admin {
  background: $color-main;
  padding: 15px;

  .logo {
    text-align: center;
    margin-bottom: 10px;

    img {
      max-height: 50px;
      display: inline-block;
    }
  }
}

.nav-main {
  margin-top: 10px;

  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;

    li {
      margin-left: 8px;

      &:first-child {
        margin-left: 0;
      }
    }

    li, a {
      display: inline-block;
    }

    a, a:visited, a:focus {
      padding: 10px 12px;
      border: 1px solid $color-white;
      color: $color-white;
      text-decoration: none !important;
      outline: none !important;
      @include transition(color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out);
    }

    li.selected a,
    a:hover, a:active,
    a:focus {
      background: $color-white-transparent;
      text-decoration: none;
    }

    li.selected a,
    a:focus {
      box-shadow: inset 0 0 0 2px $color-white;
    }
  }
}