input {
  border-radius: 6px;
  @include transition(color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out);

  &.form-control {
    font-size: 1.2em;
    padding: 20px 12px;

    &, &:visited, &:focus {
      outline: none !important;
      border: 1px solid $color-grey-light !important;
      box-shadow: none !important;
    }

    &:focus {
      border-color: $color-main !important;
    }
  }
}

.admin-panel {
  input {
    &.form-control {
      padding: 14px 8px;
      font-size: 1em;
    }
  }
}