* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  background: $color-background;
  color: $color-text;
  font-size: 16px;
  overflow: hidden;
}

a, a:visited {
  color: $color-main;
  font-weight: bold;
  cursor: pointer;
  @include transition(color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out);
}

a:hover, a:active {
  color: $color-main-tweak;
  text-decoration: none;
}

h1 {
  padding: 0 0 5px 0;
  margin-top: 0;
  font-size: 1.8em;
}

.container {
  width: 100%;
  display: block;
  padding: 0 !important;
  margin: 0 !important;
//  padding-right: 20px;
//  padding-right: 20px;
}


#canvas-column,
#side-panel-column {
  padding: 0 !important;
//  margin: 0 !important;
//  border: 0 !important;
}

#side-panel-container {
  height: 100%;
  padding: 15px;
  position: relative;
  overflow-y: auto;
}

#loading-main {
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 9999;
}

.none {
  padding: 15px 0;
  text-align: center;
  font-style: italic;
  color: $color-grey;
}

.alert {
  border: none;
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 1000;

  span {
    margin-right: 10px;
  }

  &.ng-enter,
  &.ng-leave {
    -webkit-transition: 0.1s linear all; /* Safari/Chrome */
    transition: 0.1s linear all; /* All other modern browsers and IE10+ */
  }

  &.ng-enter {
    /* The animation preparation code */
    opacity: 0;
  }

  &.ng-enter.ng-enter-active {
    /* The animation code itself */
    opacity: 1;
  }

  &.ng-leave {
    /* The animation preparation code */
    opacity: 1;
  }

  &.ng-leave.ng-leave-active {
    /* The animation code itself */
    opacity: 0;
  }
}

.alert-info {
  background: $color-info;
  color: $color-white;
}

.alert-success {
  background: $color-success;
  color: $color-white;
}

.alert-warning {
  background: $color-warning;
  color: $color-white;
}

.alert-danger {
  background: $color-danger;
  color: $color-white;
}