@mixin transition($transitions...) {
  -webkit-transition: $transitions;
  -moz-transition: $transitions;
  -ms-transition: $transitions;
  -o-transition: $transitions;
  transition: $transitions;
}

@mixin background-size($background-size) {
  -webkit-background-size: $background-size !important;
  -moz-background-size: $background-size !important;
  -o-background-size: $background-size !important;
  background-size: $background-size !important;
}

@mixin background-clip($background-clip) {
  -webkit-background-clip: $background-clip;
  -moz-background-clip: $background-clip;
  -o-background-clip: $background-clip;
  background-clip: $background-clip;
}

@mixin background-overlay($overlay-color, $background-img) {
  background:
  linear-gradient($overlay-color, $overlay-color),
  url($background-img) no-repeat center top;
  @include background-size(cover);
}

@mixin no-select() {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}