.search {
  margin: 20px 0;
}

ul.list {
  font-size: 1.2em;
  list-style-type: none;
  padding: 0;

  li {
    border-bottom: 1px solid $color-grey-light;

    a {
      line-height: $layout-employee-list-height;
      padding: 8px 5px;
      display: block;

      &:last-child {
        border-bottom: none;
      }

      &, &:visited {

      }

      &:hover, &:active {
        background: $color-grey-lighter;
      }
    }
  }

  .photo {
    max-height: $layout-employee-list-height;
    margin-right: 10px;
    border-radius: 1000px;
    border: 2px solid $color-white;
    box-shadow: 0 0 0 1px $color-black-transparent;
    float: left;
  }
}

.search-container {
  position: relative;

  .clear-button {
    font-size: 1.5em;
    padding: 2px;
    margin: 0;
    position: absolute;
    right: 10px;
    top: 1px;
    cursor: pointer;

    &, &:visited {
      color: $color-grey;
    }

    &:hover, &:active {
      color: $color-main;
    }
  }
}