$layout-employee-list-height: 45px;

$color-main: #1f78b3;
$color-main-tweak: #19639d;
$color-main-transparent: rgba(31, 120, 179, 0.15);
$color-text: #444;
$color-background: #eaeaea;

$color-grey: #444;
$color-grey-light: #bbb;
$color-grey-lighter: #ddd;

$color-white: #fff;
$color-white-transparent: rgba(255, 255, 255, 0.2);

$color-black: #000;
$color-black-transparent: rgba(0, 0, 0, 0.2);

$color-success: #7fb939;
$color-success-tweak: #639e24;
$color-info: #5f9ae3;
$color-info-tweak: #5383cb;
$color-warning: #efcb38;
$color-warning-tweak: #d6ac2c;
$color-danger: #d5452e;
$color-danger-tweak: #c13629;