<div id="header-main" class="header-main">
    <div class="row">
        <div class="col-sm-5">
            <div class="logo">
                <img src="assets/images/logo-developertown-small-white.png" class="img-responsive" />
            </div>
        </div>

        <div class="col-sm-7 text-right">
            <nav class="nav-main">
                <ul>
                    <li ng-class="{'selected': isState('site.search')}"><a ui-sref="site.search">Employees</a></li>
                    <li ng-class="{'selected': isState('site.schedule')}"><a ui-sref="site.schedule">Schedule</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>