<section class="side-panel employee-panel">

    <img class="employee-photo img-responsive" ng-src="{{ employee.photo }}" ng-if="employee.photo" />

    <h1 class="employee-name">{{ employee.firstName }} {{ employee.lastName }}</h1>
    <h2 class="employee-position">{{ employee.position }}</h2>

    <ul class="employee-info">
        <li><span>Phone:</span> {{ employee.phone }}</li>
        <li><span>Hours:</span> {{ employee.hours }}</li>
    </ul>

    <div class="employee-buttons">
        <a class="btn btn-primary btn-bordered btn-large" ng-click="bounceHouse(employee.House.id)">Locate me</a>
	    <a class="btn btn-primary btn-large" ng-click="sendSMS()">Let 'em know you're in the lobby</a>
    </div>

</section>