<div class="container" ng-controller="MainController">
    <div class="row">

        <div id="canvas-column" class="col-sm-8">
            <div id="canvas-container" ng-controller="CanvasController">
                <canvas id="site-canvas"></canvas>
            </div>
        </div>

        <div id="side-panel-column" class="col-sm-4">
            <div ng-include="'views/Site/_header.html'"></div>

            <div id="side-panel-container" class="side-panel-container">
                <div ui-view></div>
                <mc-messages></mc-messages>
                <div id="loading-main" class="loading-animation" ng-show="loading"></div>
            </div>
        </div>

    </div>
</div>

<img src="assets/images/house.png" id="house-image" class="hidden" />
<img src="assets/images/youarehere.png" id="you-are-here-indicator" class="hidden" />